.list li {
    display: table;
    border-collapse: collapse;
    margin-left: 8%;
    margin-right: 8%;
    width: 100%;
    border-bottom-color: red;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(51,51,51);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(51,51,51);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(51,51,51);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: none;
    border-top-width: 0px;
    box-shadow: rgba(256, 0, 0, 0.0470588) 0px 2px 3px 0px;
}

.list li::before {
    display: block;
    width: 100%;
    height: 100%;
    content: ' ';
    opacity: 0.4;
}

.wine-cards{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(51, 51, 51);
}
.inner {
    display: table-row;
    overflow: hidden;
    text-decoration:none;
}
.inner:hover{
    text-decoration:none;
    cursor: auto;
}
.inner:focus{
    text-decoration: none;
}
.info-label{
    display: inline-block;
    width: 100px;
    margin-left: 3px;
}
.li-img {
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    padding-right: 1em;
}
.li-img img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: 5px;
}
.show-wine-price{
    font-size:14pt;
    float: right;
    margin-right: 20px;
}

.li-text {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
    width: 70%;
    color: #666666;
}
.li-head {
    margin: 0;
    font-weight: 500;
    margin-bottom: 3px;
}
.li-sub {
    margin: 0;
}

@media all and (min-width: 45em) {
    .list li {
        float: left;
        width: 50%;
    }
}

@media all and (min-width: 75em) {
    .list li {
        width: 33.33333%;
    }
}

